.profile__image {
  width: 120px;
  height: 120px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-size: cover;
  background-position: center;
  margin: 0 29px 0 0;
  position: relative;
  display: grid;
  place-items: center;
}

@media screen and (max-width: 740px) {
  .profile__image {
    margin: 0 10px 0 0;
  }
}

@media screen and (max-width: 480px) {
  .profile__image {
    margin-right: 0;
  }
}



.profile__image::before{
  content: "";
  width: 40px;
  height: 40px;
  background-image: url('../../../images/Vector.svg');
 background-position: center;
 background-repeat: no-repeat;
  position: absolute;
  opacity: 0;
  z-index: 2;
}
.profile__image:hover::before {
  opacity: 1;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 1;
}

.profile__image:hover .overlay {
  opacity: 1;
}
